.success,
.error {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.blog {
  padding: 10px 4px;
  border: 1px solid black;
  margin: 5px 0px;
  border-radius: 4px;
}