.login-form,
.blog-form,
.comment-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-btn,
.blog-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.toggle-btn {
  margin-top: 24px;
  margin-bottom: 15px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.blog-details > * {
  height: 40px;
  display: flex;
  align-items: center;
}

.like-btn {
  width: 80px;
  height: 30px;
  text-align: center;
  padding: 0;
  margin-left: 8px;
}

.remove-btn {
  margin-top: 15px;
}

.comment-heading {
  margin-top: 25px;
}

.comment-form {
  width: 400px;
}

.comment-btn {
  width: 160px;
  height: 40px;
  padding: 0;
  margin-left: 8px;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin-top: 12px;
}

.comment {
  margin-top: 8px;
}